parameters:
  paths: 
   - .
  level: 1
  scanDirectories:
    - ../base
    - ../userpanel
    - ../notifications
    - ../financial
  ignoreErrors:
    - "/(Class|Interface|Trait) .+ referenced with incorrect case/"
